@use '../../mixins' as mixins;

.wrapper {
	@include mixins.flex-column-start;
}

.adress {
	line-height: 150%;

	&__text {
		max-width: 723px;
		margin: 0;
		margin-top: 24px;
		line-height: 150%;
		letter-spacing: 0.1px;
	}

	&__link {
		line-height: 150%;
	}

	address {
		margin: 0;
		margin-top: 10px;
		line-height: 150%;
		letter-spacing: 0.14px;
	}
}
