@use '../../_variables' as variables;

.component {
	position: fixed;
	top: 20px;
	right: 30px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 51px;
	height: 49px;
	background-color: variables.$color-primary;
	border-radius: 17px;

	&__indicator {
		position: absolute;
		top: -8px;
		right: -9px;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 24px;
		background-color: variables.$color-error;
		border-radius: 50%;
	}

	&__count {
		color: variables.$color-text-inverted;
		font-weight: 600;
		font-size: 12px;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}
}
