@use '../../_variables' as variables;

.component {
	position: absolute;
	top: 1px;
	left: -54px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: variables.$color-primary;
	border-radius: 17px;

	&__indicator {
		position: absolute;
		top: -5px;
		right: -5px;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 17px;
		height: 17px;
		background-color: variables.$color-error;
		border-radius: 50%;
	}

	&__count {
		color: variables.$color-text-inverted;
		font-weight: 600;
		font-size: 11px;
	}

	&__icon {
		width: 19px;
		height: 18px;
	}
}

@media (max-width: 992px) {
	.component {
		top: auto;
	}
}

@media (max-width: 576px) {
	.component {
		left: -37px;
		width: 29px;
		height: 26px;

		&__icon {
			width: 13px;
			height: 13px;
		}

		&__indicator {
			width: 14px;
			height: 14px;
		}

		&__count {
			font-size: 9px;
		}
	}
}
