.component {
	margin-top: 37px;

	&_wrapped {
		margin-top: 33px;
		padding: 15px 15px 15px 20px;
		background-color: #f7f7f7;
		border-radius: 35px;

		.adder {
			display: flex;
			justify-content: space-between;
		}
	}
}

.adder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;

	&_w100 {
		width: 100%;
	}

	&__price {
		min-width: 90px;
		font-weight: 700;
		font-size: 24px;
		letter-spacing: 0.5px;
	}

	&__button {
		padding: 20px 30px;
		font-size: 16px;
		line-height: 113%;
		border-radius: 25px;

		span {
			letter-spacing: 0.3px;
		}
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
	.component {
		margin-top: 27px;
	}

	.adder {
		justify-content: space-between;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
	.component {
		display: none;
	}
}
