.component {
  margin-top: 2.3125rem;

  &_wrapped {
    margin-top: 2.0625rem;
    padding: 0.9375rem 0.9375rem 0.9375rem 1.25rem;
    border-radius: 2.1875rem;
    background-color: #f7f7f7;

    .adder {
      display: flex;
      justify-content: space-between;
    }
  }
}

.adder {
  display: flex;
  align-items: center;


  &__price {
    min-width: 5.625rem;
    margin-right: 2.1875rem;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.0313rem;
  }

  &__button {
    font-size: 1rem;
    line-height: 113%;
    padding: 1.25rem 1.875rem;
    border-radius: 1.5625rem;

    span {
      letter-spacing: 0.0187rem;
    }
  }
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .component {
    margin-top: 1.6875rem;
  }

  .adder {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {}

@media (max-width: 576px) {
  .component {
    display: none;
  }
}