.page {
	padding-top: 20px;
	padding-bottom: 324px;
}

.back {
	margin-left: 81px;
}

.title {
	font-weight: 800;
	font-size: 30px;
}

.wrapper {
	max-width: 585px;
	margin: 0 auto;
	margin-top: 25px;
	background: #fff;
	border-radius: 16px;
}

.icon {
	width: 16px;
	height: 16px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trashButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background: #f7f7f7;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.total {
	display: flex;
	flex-direction: column;
	max-width: 174px;
	margin-top: 22px;
	margin-left: auto;

	span {
		font-weight: 700;
		font-size: 22px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin-top: 12px;
		cursor: pointer;
		text-underline-offset: 4px;

		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 119%;
		}
	}
}

.button {
	justify-content: center;
	min-width: 298px;
	margin-top: 55px;
	margin-left: auto;
	padding: 17px 23px 16px 23px;

	span {
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;
	}
}

@media (max-width: 1200px) {
	.back {
		margin-left: 10px;
		font-size: 15px;
	}

	.title {
		font-size: 25px;
	}

	.total {
		max-width: unset;

		span {
			font-size: 25px;
			line-height: 112%;
		}

		&__button {
			span {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 576px) {
	.page {
		padding-top: 17px;
	}

	.wrapper {
		margin-top: 16px;
	}

	.back {
		margin-left: unset;
	}

	.title {
		font-weight: 900;
		font-size: 24px;
	}

	.total {
		align-items: flex-end;
		margin-top: 20px;

		span {
			font-weight: 700;
			font-size: 17px;
		}

		&__button {
			margin-top: 16px;

			span {
				font-weight: 400;
				font-size: 14px;
				line-height: 129%;
			}
		}
	}
}
