.page {
	padding-top: 20px;
}

.back {
	margin-left: 81px;
}

.title {
	font-weight: 800;
	font-size: 30px;
}

.wrapper {
	max-width: 585px;
	margin: 0 auto;
	margin-top: 25px;
	background: #fff;
	border-radius: 16px;
}

.icon {
	width: 16px;
	height: 16px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trashButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background: #f7f7f7;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.total {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 174px;
	margin-top: 22px;
	margin-left: auto;
	font-weight: 700;
	font-size: 22px;

	&__button {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin-top: 17px;
		font-size: 16px;
		line-height: 119%;
		cursor: pointer;
		text-underline-offset: 4px;
	}
}

@media (max-width: 1200px) {
	.back {
		margin-left: unset;
		font-size: 15px;
	}

	.title {
		font-size: 25px;
	}

	.total {
		max-width: unset;
		font-size: 25px;

		&__button {
			span {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 576px) {
	.page {
		padding-top: 17px;
	}

	.wrapper {
		margin-top: 19px;
	}

	.back {
		display: block;
		width: 40px;
		
		span {
			display: block;
			max-width: 0;
			visibility: hidden;
		}

		&::before {
			left: 0;
			width: 40px;
			height: 18px;
			background-image: url('/images/nav-arrow-big.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			// background-size: 40px 18px;
			transform: translateY(-50%) rotate(180deg);
		}
	}
}
