.component {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 25px;
  column-gap: 24px;
  overflow-x: auto;

  &_mt30 {
    margin-top: 30px;
  }

  &_fw {
    flex-wrap: wrap;
  }

  &_rg {
    row-gap: 38px;
  }
}

@media (max-width: 1200px) {
  .component {
    column-gap: 15px
  }
}

@media (max-width: 992px) {
  .component {
    gap: 10px;
    justify-content: center;

    li {
      &:nth-last-child(1) {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {}

@media (max-width: 576px) {
  .component {
    margin-top: 15px;
    justify-content: flex-start;
  }
}