.component {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	margin-top: 1.5625rem;
	column-gap: 1.5rem;
	overflow-x: auto;

	&_mt30 {
		margin-top: 1.875rem;
	}

	&_fw {
		flex-wrap: wrap;
	}

	&_rg {
		row-gap: 2.375rem;
	}
}

@media (max-width: 1200px) {
	.component {
		column-gap: 0.9375rem
	}
}

@media (max-width: 992px) {
	.component {
		gap: 0.625rem;
		justify-content: center;

		li {
			&:nth-last-child(1) {
				display: none;
			}
		}
	}
}

@media (max-width: 576px) {
	.component {
		margin-top: 0.9375rem;
		justify-content: flex-start;

		&_jcSpanceBtw {
			justify-content: space-around;
		}

		&_rg {
			column-gap: 0.25rem;
			row-gap: 0.9375rem;
		}
	}
}

@media (max-width: 25rem) {
	.component {
		&_jcSpanceBtw {
			justify-content: space-between;
		}
	}
}