@use '../../_variables' as variables;
@use '../../_mixins' as mixins;

.component {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	margin-top: 25px;
	column-gap: 24px;
	overflow-x: auto;

	&_mt30 {
		margin-top: 30px;
	}

	&_fw {
		flex-wrap: wrap;
	}

	&_rg {
		row-gap: 38px;
	}
}

@media (max-width: 1200px) {
	.component {
		column-gap: 15px;
	}
}

@media (max-width: 992px) {
	.component {
		justify-content: center;
		gap: 10px;

		li.allItem {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.component {
		justify-content: flex-start;
		margin-top: 15px;

		&_jcSpaceBtw {
			justify-content: space-around;
		}

		&_rg {
			column-gap: 4px;
			row-gap: 15px;
		}
	}
}

@media (max-width: 400px) {
	.component {
		&_jcSpaceBtw {
			justify-content: space-between;
		}
	}
}
