@use '../../variables' as vars;
@use '../../mixins' as mix;
@use '../../keyframes';

:global(.questions) {
	max-width: 947px;
	padding: 60px 103px 93px 104px;

	&:global(-title) {
		color: vars.$color-text-crimson;
		font-size: 22px;
		line-height: 141%;
	}
}

.questions {
	&__list {
		margin-top: 31px;
	}

	&__item {
		padding: 23px 0 18px 0;
		border-bottom: 1px solid vars.$color-bg-quaternary;

		&:nth-last-child(1) {
			border-bottom: none;
		}
	}

	&__subtitle {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
	}

	&__text {
		max-width: 655px;
		margin-top: 12px;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		animation: fadeIn 0.5s forwards;
	}

	&__headline {
		@include mix.flex-between;
	}

	&__close {
		position: relative;
		width: 24px;
		height: 24px;
		padding: 12px;
		background-color: transparent;
		border: none;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 13px;
			height: 13px;
			background: url('../../../images/close.svg') no-repeat center/cover;
			transform: translate(-50%, -50%) rotate(135deg);
			transition: vars.$all-transition;
			content: '';
		}

		&_active {
			&::before {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}
	}
}
