.component {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	margin-top: 40px;
}

.title {
	composes: title from '../filling-part/filling-part.module.scss'
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	label {
		position: relative;
		width: 45px;
		height: 45px;
		border-radius: 8px;
		background-color: #F7F7F7;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 15px;
			height: 2px;
			transform: translate(-50%, -50%);
			background-color: #939393;
		}

		&::after {
			height: 15px;
			width: 2px;
		}
	}

	input[type=checkbox] {
		display: none;

		&:checked+label {
			background-color: var(--primary-color);

			&::before {
				width: 15px;
				height: 15px;
				background: url('../../../../../images/check.svg') no-repeat center/contain;
			}

			&::after {
				display: none;
			}
		}
	}
}

.item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 15px;
}

.image {
	max-width: 60px;
	max-height: 60px;
	background-color: var(--secondary-color);
	border-radius: 9px;

	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		border-radius: 9px;
	}
}

.side {
	display: flex;
	flex-direction: column;

	&__hedline,
	&__price {
		font-size: 16px;
		line-height: 150%;
	}

	&__price {
		color: #b1b1b1;
	}
}