.outer {
	margin-top: 7.5rem;
}

.main {
	max-width: 54.6875rem;
	max-height: 7.5rem;
	margin-top: 1.5625rem;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 160%;
	letter-spacing: 0.0063rem;
	color: #858585;
	overflow-y: hidden;

	&_opened {
		max-height: unset;
	}
}

.button {
	position: relative;
	margin-top: 0.3125rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.0063rem;
	background-color: #fff;
	border: none;
	color: #2787f5;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: auto;
		right: -1.4375rem;
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url('/images/arrow-sm.svg');
	}

	&_opened {
		&:after {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

@media (max-width: 767px) {
	.outer {
		margin-top: 5.3125rem;
	}
}

@media (max-width: 576px) {
	.outer {
		margin-top: 4.0625rem;
	}

	.main {
		max-height: 6.5625rem;
		margin-top: 1.25rem;
		font-size: 0.8125rem;

		&_opened {
			max-height: unset;
		}
	}

	.button {
		font-size: 0.8125rem;
	}
}