@use '../../_variables' as variables;

.outer {
	margin-top: 120px;
}

.main {
	max-width: 875px;
	max-height: 120px;
	margin-top: 25px;
	overflow-y: hidden;
	color: variables.$color-text-secondary;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0.1px;
	transition: max-height 0.3s;

	&_opened {
		max-height: 1000px;
	}
}

.button {
	position: relative;
	min-width: 109px;
	margin-top: 5px;
	color: variables.$color-link;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	text-align: center;
	background-color: variables.$color-text-inverted;
	border: none;

	&:after {
		position: absolute;
		top: 50%;
		right: -23px;
		left: auto;
		width: 16px;
		height: 16px;
		background-image: url('/images/arrow-sm.svg');
		transform: translateY(-50%);
		content: '';
	}

	&_opened {
		&:after {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

@media (max-width: 767px) {
	.outer {
		margin-top: 85px;
	}
}

@media (max-width: 576px) {
	.outer {
		margin-top: 65px;
	}

	.main {
		max-height: 105px;
		margin-top: 20px;
		font-size: 13px;
		transition: max-height 0.3s;

		&_opened {
			max-height: 1000px;
		}
	}

	.button {
		min-width: 89px;
		font-size: 13px;
	}
}
