@use '../../_variables' as variables;

.component {
	display: flex;
	margin-top: 34px;
}

.link {
	position: relative;
	margin-right: 32px;
	color: variables.$color-text-gray;
	font-size: 15px;
	line-height: 133%;
	text-decoration: none;

	&::after {
		position: absolute;
		top: 50%;
		right: -26px;
		left: auto;
		width: 17px;
		height: 10px;
		background: url('/images/arrow-sm-gray.svg') center/cover no-repeat;
		content: '';
		transform: translateY(-50%) rotate(270deg);
	}

	&:nth-last-child(1) {
		&::after {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.component {
		margin-top: 20px;
	}

	.link {
		margin-right: 29px;
		font-size: 13px;

		&::after {
			right: -21px;
			width: 13px;
			height: 5px;
		}
	}
}

@media (max-width: 576px) {
	.component {
		margin-top: 15px;
	}

	.link {
		margin-right: 23px;
		font-size: 11px;
		line-height: 182%;

		&::after {
			right: -19px;
			width: 13px;
			height: 5px;
		}
	}
}
