.component {
	margin-top: 2.125rem;
	display: flex;
}

.link {
	margin-right: 2rem;
	position: relative;
	text-decoration: none;
	font-size: 0.9375rem;
	line-height: 133%;
	color: #bababa;



	&:after {
		content: '';
		position: absolute;
		top: 55%;
		transform: translateY(-50%) rotate(270deg);
		left: auto;
		right: -1.625rem;
		width: 1.0625rem;
		height: 0.625rem;
		background: url('/images/arrow-sm-gray.svg') center/cover no-repeat;
	}

	&:nth-last-child(1) {
		&:after {
			display: none;
		}
	}
}


@media (max-width: 90rem) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {
	.component {
		margin-top: 1.25rem;
	}

	.link {
		margin-right: 1.8125rem;
		font-size: 0.8125rem;

		&:after {
			width: 0.8125rem;
			height: 0.3125rem;
			right: -1.3125rem;
		}
	}
}

@media (max-width: 576px) {
	.component {
		margin-top: 0.9375rem;
	}

	.link {
		margin-right: 1.8125rem;
		font-size: 0.6875rem;
		line-height: 182%;

		&:after {
			width: 0.8125rem;
			height: 0.3125rem;
			right: -1.3125rem;
		}
	}
}

@media (max-width: 360px) {}