.component {
	position: relative;
	padding: 1.25rem 0 10.0625rem 0;
}

.back {
	position: relative;
	margin-left: 1.8125rem;
	font-size: 1rem;
	line-height: 169%;
	text-decoration: none;
	color: #000;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		right: auto;
		left: -1.75rem;
		width: 1.125rem;
		height: 1.125rem;
		background-image: url('/images/nav-arrow-big.svg');
	}
}

.wrapper {
	display: flex;
	margin-top: 1.5625rem;
}

.main {
	max-width: 30.375rem;

	&__headline {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.popup {
	display: none;
	min-width: 30%;

	&__main {
		padding: 1.6875rem 1.875rem 1.875rem 1.875rem;
	}

	&__description {
		margin-top: 0.9375rem;
	}

	&__toplist {
		margin-top: 0.9375rem;
		margin-left: 1.875rem;
		list-style-type: disc;
	}

	&__bottomlist {
		margin-top: 1.25rem;
		list-style-type: none;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
		background-color: #ffe4ec;

		span {
			font-weight: 600;
			color: #ff4c80;
		}
	}

	&__back {
		display: none;
	}

	&__close {
		position: absolute;
		top: 0.9375rem;
		right: 0.9375rem;
		border: none;
		background: none;
		min-width: 1.125rem;
		min-height: 1.125rem;
	}

	&__image {
		display: none;
		width: 100%;
		height: 22.5rem;
		margin: 0 auto;
		border-radius: 1.875rem;
		background-color: var(--secondary-color);

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			border-radius: 1.875rem;
		}
	}

	&_active {
		display: block;
	}
}

.controller {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 0.625rem;

	&__price {
		font-weight: 700;
		font-size: 1.25rem;
	}

	&__button {
		padding: 0.9375rem 4.3125rem 0.9375rem 4.25rem;

		span {
			font-weight: 700;
			font-size: 0.875rem;
			line-height: 129%;
		}
	}
}

@media (max-width: 1200px) {
	.main {
		max-width: unset;
	}
}

@media (max-width: 992px) {
	.main {
		margin-top: 1.875rem;
	}

	.wrapper {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 767px) {
	.main {
		max-width: 100%;
	}

	.popup {
		width: 100%;
		height: 100%;

		&__image {
			display: block;
		}
	}
}

@media (max-width: 576px) {
	.component {
		padding-top: 0;
		padding-bottom: 7.5rem;
	}

	.wrapper {
		position: relative;
		top: -1.625rem;
		margin-top: 0;
	}

	.main {
		margin-top: 1.3125rem;
		padding: 0 0.9375rem;

		&__title {
			font-size: 1.5rem;
			font-weight: 900;
		}
	}

	.back {
		display: block;
		width: 100%;
		height: 4.0625rem;
		margin: 0;
		background-color: #808080;

		span:nth-child(1) {
			display: none;
		}

		&__item {
			position: absolute;
			top: 1.75rem;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			border-radius: 0.5rem;
			width: 2.4375rem;
			height: 0.25rem;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	.popup {
		position: absolute;
		top: 0;
		left: 0;
		transform: unset;
		width: 100%;
		height: 100%;
		border-radius: unset;

		&__wrapper {
			position: relative;
			top: -1.25rem;
		}

		&__main {
			padding-left: 0.625rem;
			padding-right: 0.625rem;
		}


		&__back {
			display: block;
			position: relative;
			width: 100%;
			min-height: 7.3125rem;
			margin: 0;
			background-color: #808080;

			span {
				position: absolute;
				top: 5.3125rem;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				border-radius: 0.5rem;
				width: 2.4375rem;
				height: 0.25rem;
				background-color: rgba(255, 255, 255, 0.5);
			}
		}

		&__close {
			display: none;
		}

		&__image {
			border-radius: 1.5625rem 1.5625rem 0 0;

			img {
				border-radius: 1.5625rem 1.5625rem 0 0;
			}
		}
	}
}

// @media (max-width: 360px) {}