.component {
	position: relative;
	padding: 20px 0 0 0;
}

.back {
	position: relative;
	margin-left: 29px;
	font-size: 16px;
	line-height: 169%;
	text-decoration: none;
	color: #000;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		right: auto;
		left: -28px;
		width: 18px;
		height: 18px;
		background-image: url('/images/nav-arrow-big.svg');
	}
}

.wrapper {
	display: flex;
	margin-top: 25px;
}

.main {
	max-width: 486px;

	&__headline {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.popup {
	display: none;
	min-width: 30%;
	padding: 27px 30px 30px 30px;

	&__description {
		margin-top: 15px;
	}

	&__toplist {
		margin-top: 15px;
		margin-left: 30px;
		list-style-type: disc;
	}

	&__bottomlist {
		margin-top: 20px;
		list-style-type: none;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
		background-color: #ffe4ec;

		span {
			font-weight: 600;
			color: #ff4c80;
		}
	}

	&_active {
		display: block;
	}
}



@media (max-width: 1200px) {
	.main {
		max-width: unset;
	}
}

@media (max-width: 992px) {
	.main {
		margin-top: 30px;
	}

	.wrapper {
		flex-direction: column;
		align-items: center;
	}
}

// @media (max-width: 767px) {}

// @media (max-width: 576px) {}

// @media (max-width: 360px) {}