@use '../../../_variables' as variables;
.component {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
}

.item {
	padding: 13px 17px;
	line-height: 94%;
	background-color: variables.$color-bg-secondary;
	border-radius: 15px;

	button {
		color: variables.$color-text-dark;
		font-size: 16px;
		letter-spacing: 0.2px;
		background-color: variables.$color-bg-secondary;
		border: none;
	}
}

@media (max-width: 767px) {
	.component {
		gap: 10px;
	}

	.item {
		button {
			font-size: 15px;
		}
	}
}

@media (max-width: 576px) {
	.component {
		gap: 7px;
	}

	.item {
		padding: 11px 15px;
		border-radius: 12px;

		button {
			font-size: 14px;
		}
	}
}
