@use '../../../_variables' as variables;

.component {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
}

.item {
	button {
		padding: 13px 17px;
		color: variables.$color-text-dark;
		font-size: 16px;
		line-height: 94%;
		letter-spacing: 0.2px;
		background-color: variables.$color-bg-secondary;
		border: none;
		border-radius: 15px;
		transition: variables.$all-transition;

		&:hover {
			background-color: variables.$color-bg-spec;
		}
	}

	&_active {
		button {
			color: #fff;
			background-color: variables.$color-text-dark;
		}
	}
}

@media (max-width: 992px) {
	.item button:hover {
		background-color: inherit;
	}
}

@media (max-width: 767px) {
	.component {
		gap: 10px;
	}

	.item {
		button {
			font-size: 15px;
		}
	}
}

@media (max-width: 576px) {
	.component {
		gap: 7px;
	}

	.item {
		button {
			padding: 11px 15px;
			font-size: 14px;
			border-radius: 12px;
		}
	}
}
