.component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}


.item {
  border-radius: 15px;
  padding: 13px 17px;
  line-height: 94%;
  background-color: #f6f6f6;

  button {
    border: none;
    background-color: #f6f6f6;
    font-size: 16px;
    color: #323232;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 767px) {
  .component {
    gap: 10px;
  }

  .item {
    button {
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .component {
    gap: 7px;
  }

  .item {
    padding: 11px 15px;
    border-radius: 12px;

    button {
      font-size: 14px;
    }
  }
}