:global(.popup) {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 358px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #fff;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  border: none;
  background: none;
  min-width: 18px;
  min-height: 18px;
}