@use '../../_variables' as variables;

:global(.popup) {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	min-width: 358px;
	max-height: 100%;
	overflow-y: auto;
	background-color: variables.$color-text-inverted;
	border-radius: 20px;
	transform: translate(-50%, -50%);
}

:global(.popup__close) {
	svg {
		width: 18px;
		height: 18px;
	}
}

// @media (max-width: 1440px) {}

// @media (max-width: 1200px) {}

// @media (max-width: 992px) {}

// @media (max-width: 767px) {}

// @media (max-width: 576px) {}

// @media (max-width: 360px) {}
