:global(.title-link) {
	text-decoration: none;
}

:global(.title) {
	position: relative;
	font-weight: 700;
	font-size: 1.625rem;
	text-decoration: none;
	color: #000;

	&:global(_wth-arrow) {
		&:after {
			content: '';
			position: absolute;
			top: 58%;
			transform: translateY(-50%);
			right: -1.875rem;
			width: 1.125rem;
			height: 1.125rem;
			background-image: url('/images/nav-arrow-big.svg');
		}
	}

	&:global(_fz30) {
		font-size: 1.875rem;
	}

	&:global(_fz22) {
		font-size: 1.375rem;
	}

	&:global(_fw800) {
		font-weight: 800;
	}

	&:global(_fw700) {
		font-weight: 700;
	}
}

@media (max-width: 992px) {
	:global(.title) {
		font-size: 1.5rem;
	}
}

@media (max-width: 767px) {
	:global(.title) {
		font-size: 1.375rem;
	}
}

@media (max-width: 576px) {
	:global(.title) {
		font-size: 1.25rem;

		&:global(_wth-arrow) {
			&:after {
				display: none;
			}
		}
	}
}