.search {
	max-width: 194px;
	max-height: 42px;
	padding: 12px 15px;
	border-radius: 12px;

	&__input {
		font-size: 14px;

		&::placeholder {
			font-size: 14px;
		}
	}

	&__icon {
		width: 19px;
		height: 20px;
	}
}

@media (max-width: 767px) {
	.search {
		min-width: unset;

		&__input {
			font-size: 16px;

			&::placeholder {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 576px) {
	.search {
		max-width: 194px;
		max-height: 42px;
		padding: 12px 15px;
		border-radius: 12px;

		&__input {
			font-size: 14px;

			&::placeholder {
				font-size: 14px;
			}
		}

		&__icon {
			width: 19px;
			height: 20px;
		}
	}
}
