@use '../../../_variables' as variables;
@use '../../../_mixins' as mixins;

.search {
	display: flex;
	min-width: 424px;
	max-height: 52px;
	align-items: center;
	justify-content: flex-start;
	padding: 17px 25px;
	background: variables.$color-bg-secondary;
	border-radius: 18px;

	&__input {
		width: 100%;
		border: none;
		background: variables.$color-bg-secondary;
		font-size: 16px;
		outline: none;

		&::placeholder {
			color: variables.$color-text-light;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration,
		&::-ms-clear,
		&::-ms-reveal {
			display: none;
			width: 0;
			height: 0;
		}
	}

	&__icon {
		width: 17px;
		height: 16px;
		margin-right: 8px;
	}
}

@media (max-width: 767px) {
	.search {
		min-width: unset;

		&__input {
			font-size: 16px;

			&::placeholder {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 576px) {
	.search {
		max-width: 194px;
		max-height: 42px;
		padding: 12px 15px;
		border-radius: 12px;

		&__input {
			font-size: 14px;

			&::placeholder {
				font-size: 14px;
			}
		}

		&__icon {
			width: 19px;
			height: 20px;
		}
	}
}
