@use '../../variables.scss' as variables;

.page {
	padding-bottom: 90px;
}

.title {
	margin-top: 56px;
}

.headline {
	color: variables.$color-text-crimson;
	font-weight: 800;
	font-size: 22px;
	line-height: 141%;
}

.hours {
	margin-top: 30px;

	&__description {
		margin: 0;
		margin-top: 10px;
		line-height: 150%;
		letter-spacing: 0.14px;
	}
}

.pickup {
	margin-top: 30px;
}

.communication {
	margin-top: 30px;

	&__list {
		margin-top: 10px;
		padding-left: 25px;
		list-style-position: outside;
		list-style-type: disc;
	}

	&__item {
		line-height: 150%;
		letter-spacing: 0.14px;

		&::marker {
			margin-right: 10px;
		}
	}

	&__description {
		margin: 0;
		margin-top: 23px;
		line-height: 150%;
		letter-spacing: 0.14px;
	}
}

.social {
	margin-top: 30px;

	&__link {
		margin-right: 15px;
	}

	&__icon {
		width: 40px;
		height: 40px;
	}

	ul {
		margin-top: 10px;
	}
}

@media (max-width: 992px) {
	.communication {
		&__description a {
			&:hover {
				color: variables.$color-link;
			}
		}
	}
}
