@use '../../_variables' as variables;

.page {
	padding-bottom: 91px;
}

hr {
	color: variables.$color-text-light;
}

.title {
	margin-top: 56px;
	text-align: left;
}

.main {
	margin-top: 55px;

	&__title {
		max-width: 256px;
		margin: 0 auto;
		color: variables.$color-text-crimson;
		font-size: 28px;
		line-height: 130%;
		text-align: center;
	}

	&__description {
		max-width: 720px;
		margin: 0 auto;
		margin-top: 33px;
		line-height: 150%;
		text-align: center;
	}
}

.questions {
	max-width: 947px;
	margin: 0 auto;
	margin-top: 42px;
	padding: 60px 122px 93px 89px;

	&__title {
		text-align: center;
	}
}

.button {
	position: absolute;
	top: 400px;
	left: 0;
}
