@use '../../_variables' as variables;

.page {
	padding-bottom: 71px;
}

hr {
	color: variables.$color-text-light;
}

.title {
	margin-top: 56px;
	text-align: left;
}

.main {
	margin-top: 55px;

	&__title {
		max-width: 256px;
		margin: 0 auto;
		color: variables.$color-text-crimson;
		font-size: 28px;
		line-height: 130%;
		text-align: center;
	}

	&__description {
		max-width: 720px;
		margin: 0 auto;
		margin-top: 33px;
		line-height: 150%;
		letter-spacing: 0.1px;
		text-align: center;
	}

	&___pass {
		display: none;
	}
}

.questions {
	margin: 0 auto;
	margin-top: 42px;

	&__title {
		text-align: center;
	}
}

.button {
	position: absolute;
	top: 400px;
	left: 0;
}

@media (max-width: 767px) {
	.main {
		margin-top: 40px;

		&__title {
			max-width: 215px;
			font-size: 25px;
		}

		&__description {
			margin-top: 26px;
			font-size: 15px;
		}
	}

	.questions {
		margin-top: 38px;
	}
}

@media (max-width: 576px) {
	.title {
		margin-top: 25px;
		font-size: 20px;
	}

	hr {
		margin: 11px 0;
	}

	.main {
		margin-top: 41px;

		&__title {
			font-size: 24px;
			line-height: 129%;
		}

		&__description {
			margin-top: 30px;
			font-size: 14px;
			line-height: 143%;
			text-align: unset;
		}

		&___pass {
			display: block;
		}
	}

	.questions {
		margin-top: 30px;
	}
}
