:global(.button) {
    border: none;
    text-decoration: none;

    &:global(_primary) {
        display: flex;
        align-items: center;
        padding: 1rem 1.4375rem;
        border-radius: 1.375rem;
        background-color: var(--primary-color);
        color: #fff;
    }

    &:global(_secondary) {
        display: flex;
        align-items: center;
        padding: 0.9375rem 3.125rem;
        border-radius: 1.25rem;
        background-color: #54a9eb;
        font-size: 1rem;
        white-space: nowrap;
    }

    &:global(_tertiary) {
        border-radius: 0.5625rem;
        border: none;
        background-color: #ff5b8b;
    }

    &:hover {
        color: #fff;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    :global(.button) {
        &:global(_secondary) {
            padding: 0.9375rem 1.5625rem;
            font-size: 0.9375rem;
        }
    }
}

@media (max-width: 767px) {
    :global(.button_secondary) {
        padding: 0.9375rem 5.125rem;
        font-size: 0.875rem;
    }

    :global(.button) {
        &:global(_secondary) {
            padding: 0.9375rem 5.125rem;
            font-size: 0.875rem;
        }
    }
}

@media (max-width: 576px) {
    :global(.button) {
        min-width: unset;
        max-width: unset;
        width: 100%;

        &:global(_secondary) {
            border-radius: 0.9375rem;
        }

        &:global(_primary) {
            border-radius: 0.875rem;
        }
    }
}