@use '../../../_variables' as vars;
@use '../../../_mixins' as mixins;

:global(.button) {
	@include mixins.hover-overlay;
	@include mixins.active-overlay-accent;
	text-decoration: none;
	border: none;

	&:global(_primary) {
		display: flex;
		align-items: center;
		padding: 16px 23px;
		color: vars.$color-text-inverted;
		background-color: vars.$color-primary;
		border-radius: 22px;
	}

	&:global(_secondary) {
		display: flex;
		align-items: center;
		padding: 15px 50px;
		font-size: 16px;
		white-space: nowrap;
		background-color: vars.$color-info;
		border-radius: 20px;
	}

	&:global(_tertiary) {
		background-color: vars.$color-primary;
		border: none;
		border-radius: 9px;
	}

	&:hover {
		color: vars.$color-text-inverted;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
	:global(.button) {
		&:global(_secondary) {
			padding: 15px 25px;
			font-size: 15px;
		}

		&:hover {
			color: inherit;
		}

		&:hover::after {
			opacity: 0;
		}
	}
}

@media (max-width: 767px) {
	:global(.button_secondary) {
		padding: 15px 82px;
		font-size: 14px;
	}

	:global(.button) {
		&:global(_secondary) {
			padding: 15px 82px;
			font-size: 14px;
		}
	}
}

@media (max-width: 576px) {
	:global(.button) {
		width: 100%;
		min-width: unset;
		max-width: unset;

		&:global(_secondary) {
			border-radius: 15px;
		}

		&:global(_primary) {
			border-radius: 14px;
		}
	}
}
