.card {
	display: block;
	min-width: 17.625rem;
	text-decoration: none;
	color: #000;

	&:hover {
		color: #000;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1.25rem;
	}
}

.title {
	display: block;
	max-width: 13.125rem;
	margin-top: 0.6875rem;
	line-height: 1.375rem;
	font-size: 1.125rem;
	font-weight: 600;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.3125rem;
}

.cost {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.1875rem;
}

.grid {
	composes: card;
	display: grid;
	grid-template-columns: repeat(2, 8.8125rem);
	grid-template-rows: repeat(2, 8.8125rem);
	position: relative;

	img {
		filter: brightness(60%)
	}

	img {
		&:nth-child(1) {
			border-radius: 1.25rem 0 0 0;
		}

		&:nth-child(2) {
			border-radius: 0 1.25rem 0 0;
		}

		&:nth-child(3) {
			border-radius: 0 0 0 1.25rem;
		}

		&:nth-child(4) {
			border-radius: 0 0 1.25rem 0;
		}
	}
}

.allButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3.125rem;
	padding: 0.9375rem 3.3125rem 0.9375rem 1.5625rem;
	min-width: 11.75rem;
	text-decoration: none;
	background-color: #fff;
	color: #000;

	span {
		position: relative;
		font-weight: 600;
		font-size: 1.0625rem;
		line-height: 1.3125rem;
		white-space: nowrap;

		&:after {
			content: '';
			position: absolute;
			top: 58%;
			transform: translateY(-50%);
			right: -1.875rem;
			width: 1.125rem;
			height: 1.125rem;
			background-image: url('/images/nav-arrow-big.svg');
		}
	}
}

.button {
	display: none;
	position: relative;
	width: 2rem;
	height: 2rem;

	&::before {
		content: '';
		position: absolute;
		width: 0.75rem;
		height: 0.125rem;
		background-color: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&::after {
		content: '';
		position: absolute;
		width: 0.125rem;
		height: 0.75rem;
		background-color: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1200px) {

	.card {
		min-width: 14.0625rem;
	}

	.grid {
		grid-template-columns: repeat(2, 7rem);
		grid-template-rows: repeat(2, 7rem);
	}
}

@media (max-width: 992px) {
	.card {
		min-width: 14.0625rem;

		&_catalog {
			min-width: 11.875rem;
			max-width: 11.875rem;
			width: 100%;
		}
	}

	.title {
		max-width: unset;
		min-height: 2.75rem;
		font-size: 1rem;
	}

	.cost {
		font-size: 0.9375rem;
	}

	.button {
		display: block;
	}
}

@media (max-width: 767px) {
	.card {
		min-width: 10.3125rem;
		background-color: #fafafa;

		&_catalog {
			min-width: 10.8125rem;
			max-width: 10.8125rem;
		}

		img {
			border-radius: 0.875rem 0.875rem 0 0;
		}
	}

	.title {
		display: -webkit-box;
		max-width: 10.3125rem;
		padding: 0 0.75rem;
		font-weight: 400;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.cost {
		font-weight: 600;
	}

	.bottom {
		padding: 0 0.75rem 0.75rem 0.75rem;
	}

	.button {
		display: block;
	}
}

@media (max-width: 576px) {
	.card {
		min-width: 9.6875rem;

		&_catalog {
			min-width: 10.8125rem;
			max-width: unset;
			width: 100%;
		}
	}

	.title {
		max-width: 9.6875rem;
		min-height: 2.125rem;
		margin-top: 0.4375rem;
		font-size: 0.875rem;
		line-height: 1.0625rem;

		&_catalog {
			max-width: 10.8125rem;
		}
	}

	.bottom {
		margin-top: 0.5625rem;
	}
}