.component {
  margin-top: 7.5rem;
}

.title {
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 103%;
  text-align: center;
  color: #ff5b8b;
}

.describe {
  margin: 0 auto;
  margin-top: 1.3125rem;
  max-width: 28.125rem;
  font-size: 1.0625rem;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.link {
  display: block;
  margin-top: 1.75rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #2787f5;
}

@media (max-width: 90rem) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 576px) {
  .component {
    margin-top: 5.625rem;
  }

  .title {
    font-size: 1.25rem;
    line-height: 155%;
  }

  .describe {
    max-width: 19.375rem;
    margin-top: 0.5625rem;
    font-size: 0.875rem;
    line-height: 143%;
  }

  .link {
    margin-top: 1.25rem;
    font-size: 0.875rem;
  }

}

@media (max-width: 360px) {}