.component {
  margin-top: 120px;
}

.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 103%;
  text-align: center;
  color: #ff5b8b;
}

.describe {
  margin: 0 auto;
  margin-top: 21px;
  max-width: 450px;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.link {
  display: block;
  margin-top: 28px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #2787f5;
}