.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 26px;
    border: none;
    background-color: #fff;

    &_asEnd {
        align-self: flex-end;
    }

    .item {
        width: 100%;
        min-height: 4px;
        border-radius: 10px;
        background-color: #000;

        &:nth-child(2) {
            max-width: 20px;
            margin: 6px 0 6px 0;
        }
    }
}

@media (max-width: 576px) {
    .wrapper {
        min-width: 18px;

        .item {
            width: 100%;
            min-height: 3px;
            background-color: #000;

            &:nth-child(2) {
                max-width: 14px;
                margin: 4px 0 4px 0;
            }
        }
    }
}