.component {
    padding-bottom: 34px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
}

.primary,
.secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 424px;
    max-height: 52px;
    padding: 17px 25px;
    border-radius: 18px;
    background: #f7f7f7;

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background: #f7f7f7;
        font-size: 16px;

        &::placeholder {
            color: #b1b1b1;
        }
    }

    &__icon {
        width: 17px;
        height: 16px;
        margin-right: 8px;
    }
}

.button {
    min-width: 291px;
    max-height: 52px;
    margin-right: 30px;

    &__icon {
        width: 16px;
        margin-right: 8px;
    }

    &__text {
        font-size: 16px;
        margin-right: 30px;
        font-weight: 600;
    }
}

.outer {
    padding-bottom: 34px;

    nav ul {
        display: grid;
        grid-template-columns: repeat(6, 180px);
        grid-template-rows: repeat(1, 200px);
        column-gap: 23px;
    }
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 0 19px 24px;
    border-radius: 25px;
    background-color: #f0e2fb;
    text-decoration: none;



    span {
        max-width: 100px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        line-height: 115%;
    }
}

@media (max-width: 1200px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 150px);
        grid-template-rows: repeat(1, 170px);
        column-gap: 13px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 130px);
        grid-template-rows: repeat(1, 150px);
        column-gap: 11px;
        overflow-x: scroll;
    }

    .link {
        padding: 0 0 10px 14px;

        span {
            font-size: 19px;
        }
    }

    .button {
        display: none;
    }
}

@media (max-width: 767px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 120px);
        grid-template-rows: repeat(1, 140px);
    }

    .search {
        min-width: unset;

        &__input {
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }
        }
    }

    .logo {
        margin-right: 45px;
    }

    .link {
        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .wrapper {
        padding: 16px 0;
    }

    .primary {
        align-items: flex-start;
    }

    .outer nav ul {
        grid-template-columns: repeat(6, 99px);
        grid-template-rows: repeat(1, 110px);
        column-gap: 8px;
    }

    .search {
        max-width: 194px;
        max-height: 42px;
        padding: 12px 15px;
        border-radius: 12px;

        &__input {
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }
        }

        &__icon {
            width: 19px;
            height: 20px;
        }
    }

    .link {
        padding: 0 0 5px 8px;
        border-radius: 14px;

        span {
            max-width: 80px;
            font-size: 11px;
        }
    }
}


























// &:nth-child(3),
// &:nth-child(4) {
//     padding-bottom: 15px;
// }

// &:nth-child(1) {
//     padding-left: 24px;
// }

// &:nth-child(2) {
//     padding-left: 26px;
// }