.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3125rem 0;
}

.primary,
.secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 26.5rem;
    max-height: 3.25rem;
    padding: 1.0625rem 1.5625rem;
    border-radius: 1.125rem;
    background: #f7f7f7;

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background: #f7f7f7;
        font-size: 1rem;

        &::placeholder {
            color: #b1b1b1;
        }
    }

    &__icon {
        width: 1.0625rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
}

.button {
    min-width: 18.1875rem;
    max-height: 3.25rem;
    margin-right: 1.875rem;

    &__icon {
        width: 1rem;
        margin-right: 0.5rem;
    }

    &__text {
        font-size: 1rem;
        margin-right: 1.875rem;
        font-weight: 600;
    }
}

.outer {
    nav ul {
        display: grid;
        grid-template-columns: repeat(6, 11.25rem);
        grid-template-rows: repeat(1, 12.5rem);
        column-gap: 1.4375rem;
    }
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 0 1.1875rem 1.5rem;
    border-radius: 1.5625rem;
    background-color: #f0e2fb;
    text-decoration: none;

    span {
        max-width: 6.25rem;
        color: #fff;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 115%;
    }
}

@media (max-width: 1200px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 9.375rem);
        grid-template-rows: repeat(1, 10.625rem);
        column-gap: 0.8125rem;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 8.125rem);
        grid-template-rows: repeat(1, 9.375rem);
        column-gap: 0.6875rem;
        overflow-x: scroll;
    }

    .link {
        padding: 0 0 0.625rem 0.875rem;

        span {
            font-size: 1.1875rem;
        }
    }

    .button {
        display: none;
    }
}

@media (max-width: 767px) {
    .outer nav ul {
        grid-template-columns: repeat(6, 7.5rem);
        grid-template-rows: repeat(1, 8.75rem);
    }

    .search {
        min-width: unset;

        &__input {
            font-size: 1rem;

            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    .logo {
        margin-right: 2.8125rem;
    }

    .link {
        span {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 576px) {
    .wrapper {
        padding: 1rem 0;
    }

    .primary {
        align-items: flex-start;
    }

    .outer nav ul {
        grid-template-columns: repeat(6, 6.1875rem);
        grid-template-rows: repeat(1, 6.875rem);
        column-gap: 0.5rem;
    }

    .search {
        max-width: 12.125rem;
        max-height: 2.625rem;
        padding: 0.75rem 0.9375rem;
        border-radius: 0.75rem;

        &__input {
            font-size: 0.875rem;

            &::placeholder {
                font-size: 0.875rem;
            }
        }

        &__icon {
            width: 1.1875rem;
            height: 1.25rem;
        }
    }

    .link {
        padding: 0 0 0.3125rem 0.5rem;
        border-radius: 0.875rem;

        span {
            max-width: 5rem;
            font-size: 0.6875rem;
        }
    }
}


























// &:nth-child(3),
// &:nth-child(4) {
//     padding-bottom: 0.9375rem;
// }

// &:nth-child(1) {
//     padding-left: 1.5rem;
// }

// &:nth-child(2) {
//     padding-left: 1.625rem;
// }