.component {
	padding: 5.875rem 0 5.625rem 0;
}

.headline {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__link {
		display: none;
		position: relative;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 125%;
		text-decoration: none;
		color: #000;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -1.5625rem;
			width: 1.125rem;
			height: 1.125rem;
			border-radius: 6.25rem;
			background-color: #f6f6f6;
			background-image: url('/images/nav-arrow-sm.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.button {
	display: none;
}

.secondary {
	margin-top: 2.375rem;
}

@media (max-width: 992px) {
	.page {
		padding: 0.625rem 0 5.625rem 0;
	}

	.headline {
		align-items: center;

		&__link {
			display: block;
			font-size: 0.9375rem;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 3.75rem;
		min-width: 21.25rem;
		margin: 0 auto;

		svg {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.headline {
		align-items: center;

		&__link {
			display: block;
			font-size: 0.875rem;
		}
	}
}

@media (max-width: 576px) {
	.component {
		padding: 2.6875rem 0 4.0625rem 0;
	}

	.headline {
		padding-right: 1.625rem;
	}

	.headline {
		&__link {
			font-size: 0.75rem;
		}
	}

	.secondary {
		margin-top: 2.5625rem;
	}

	.page {
		padding: 0.625rem 0 3.75rem 0;
	}

	.button {
		justify-content: unset;
		padding: 0.9375rem 0.9375rem;
		column-gap: unset;

		&__text {
			flex: 1;
			text-align: center;
			margin-left: 3.25rem;
			font-size: 0.875rem;
			line-height: 129%;
		}

		span {
			&:nth-child(3) {
				margin-left: auto;
				font-size: 0.875rem;
				line-height: 129%;
			}
		}
	}

	// .button {
	// 	display: flex;
	// 	align-items: center;
	// 	min-width: 21.25rem;
	// 	margin: 0 auto;

	// 	svg {
	// 		display: none;
	// 	}

	// 	span {
	// 		&:nth-child(2) {
	// 			flex: 1;
	// 			text-align: center;
	// 			margin-left: 3.25rem;
	// 		}

	// 		&:nth-child(3) {
	// 			margin-left: auto;
	// 		}
	// 	}
	// }
}