.component {
	padding: 94px 0 90px 0;
}

.headline {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__link {
		display: none;
		position: relative;
		font-weight: 600;
		font-size: 12px;
		line-height: 125%;
		text-decoration: none;
		color: #000;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -25px;
			width: 18px;
			height: 18px;
			border-radius: 100px;
			background-color: #f6f6f6;
			background-image: url('/images/nav-arrow-sm.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.button {
	display: none;
}

.secondary {
	margin-top: 38px;
}

@media (max-width: 992px) {
	.page {
		padding: 10px 0 90px 0;
	}

	.headline {
		align-items: center;

		&__link {
			display: block;
			font-size: 15px;
		}
	}

	.button {
		display: flex;
		align-items: center;
		min-width: 340px;
		margin: 0 auto;

		svg {
			display: none;
		}

		span {
			&:nth-child(2) {
				flex: 1;
				text-align: center;
				margin-left: 52px;
			}

			&:nth-child(3) {
				margin-left: auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.headline {
		align-items: center;

		&__link {
			display: block;
			font-size: 14px;
		}
	}
}

@media (max-width: 576px) {
	.component {
		padding: 43px 0 65px 0;
	}

	.headline {
		padding-right: 26px;
	}

	.headline {
		&__link {
			font-size: 12px;
		}
	}

	.secondary {
		margin-top: 41px;
	}

	.page {
		padding: 10px 0 60px 0;
	}

	.button {
		padding: 15px 15px;

		&__text {
			font-size: 14px;
			line-height: 129%;
		}

		span {
			&:nth-child(3) {
				font-size: 14px;
				line-height: 129%;
			}
		}
	}
}