.page {
  padding: 60px 0 90px 0;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    display: none;
    position: relative;
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    text-decoration: none;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -25px;
      width: 18px;
      height: 18px;
      border-radius: 100px;
      background-color: #f6f6f6;
      background-image: url('../../../images/nav-arrow-sm.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.secondary {
  margin-top: 38px;
}

@media (max-width: 992px) {
  .page {
    padding: 10px 0 90px 0;
  }

  .headline {
    align-items: center;

    &__link {
      display: block;
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .headline {
    align-items: center;

    &__link {
      display: block;
      font-size: 14px;
    }
  }
}