@use '../../_variables' as variables;

.component {
	padding: 56px 0 90px 0;

	hr {
		margin: 15px 0;
		color: variables.$color-text-light;
	}
}

@media (max-width: 767px) {
	.component {
		padding: 25px 0 90px 0;

		hr {
			margin-top: 11px;
		}
	}
}
