.wrapper {
	width: 100%;
	padding: 3.125rem 7.5rem 2.875rem 7.5rem;
	border-radius: 2.1875rem 2.1875rem 0 0;
	background-color: #303030;

	>div>div {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	nav {
		margin-right: auto;
		margin-left: 3.8125rem;

		li {
			margin-bottom: 0.5625rem;

			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}
}

.link {
	font-size: 1rem;
	color: #ccc;
	text-decoration: none;
}

.side {
	min-width: 15.3125rem;

	li {
		margin-bottom: 0.4375rem;

		&:nth-child(3) {
			margin-bottom: 0;
		}
	}
}

.agreementLink {
	composes: link;
	color: #595959;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&__icon {
		width: 2.5rem;
		margin-right: 0.9375rem;
	}
}

.button {
	min-height: 3.0625rem;
	margin-top: 1.875rem;

	span {
		margin-right: 0.4375rem;
		line-height: 100%;
		color: #fff;
	}

	&__icon {
		width: 0.9375rem;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		padding: 3.125rem 4.0625rem 2.875rem 4.0625rem;
	}
}

@media (max-width: 992px) {
	.wrapper {
		padding: 3.125rem 2.5rem 2.875rem 2.5rem;

		nav {
			margin-left: unset;
			margin-right: unset;

			li {
				margin-bottom: 0.5rem;
			}
		}
	}

	.side {
		li {
			margin-bottom: 0.3125rem;
		}
	}

	.social {
		&__icon {
			margin-right: 0.75rem;
		}
	}

	.button {
		min-height: unset;
		margin-top: 1.5625rem;
	}
}

@media (max-width: 767px) {
	.wrapper {
		border-radius: 0;
		padding: 1.4375rem 0 2rem 0;

		nav {
			order: 1;

			li {
				margin-bottom: 0.375rem;
			}
		}

		div:nth-child(1) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	.side {
		margin-top: 1.8125rem;
		order: 3;
	}

	.social {
		margin-top: 1.5625rem;
		order: 2;

		&__icon {
			margin-right: 0.9375rem;
		}
	}

	.link {
		font-size: 0.875rem;
	}

	.button {
		min-width: unset;
		min-height: 2.9375rem;
		margin-top: 1.8125rem;
		width: 100%;
	}
}