@use '../../_variables' as variables;
.wrapper {
	width: 100%;
	padding: 50px 120px 46px 120px;
	background-color: variables.$color-bg-additional;
	border-radius: 35px 35px 0 0;

	> div > div {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	nav {
		margin-right: auto;
		margin-left: 61px;

		li {
			margin-bottom: 9px;

			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}
}

.link {
	color: variables.$color-text-light;
	font-size: 16px;
	text-decoration: none;
}

.side {
	min-width: 245px;

	li {
		margin-bottom: 7px;

		&:nth-child(3) {
			margin-bottom: 0;
		}
	}
}

.agreementLink {
	composes: link;
	color: variables.$color-text-secondary;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&__icon {
		width: 40px;
		margin-right: 15px;
	}
}

.button {
	min-height: 49px;
	margin-top: 30px;

	span {
		margin-right: 7px;
		color: variables.$color-text-inverted;
		line-height: 100%;
	}

	&__icon {
		width: 15px;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		padding: 50px 65px 46px 65px;
	}
}

@media (max-width: 992px) {
	.wrapper {
		padding: 50px 40px 46px 40px;

		nav {
			margin-right: unset;
			margin-left: unset;

			li {
				margin-bottom: 8px;
			}
		}
	}

	.side {
		li {
			margin-bottom: 5px;
		}
	}

	.social {
		&__icon {
			margin-right: 12px;
		}
	}

	.button {
		min-height: unset;
		margin-top: 25px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		padding: 23px 0 32px 0;
		border-radius: 0;

		nav {
			order: 1;

			li {
				margin-bottom: 6px;
			}
		}

		div:nth-child(1) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	.side {
		order: 3;
		margin-top: 29px;
	}

	.social {
		order: 2;
		margin-top: 25px;

		&__icon {
			margin-right: 15px;
		}
	}

	.link {
		font-size: 14px;
	}

	.button {
		width: 100%;
		min-width: unset;
		min-height: 47px;
		margin-top: 29px;
	}
}
