.component {
	width: 100%;
	margin-top: 40px;
}

.title {
	font-weight: 600;
	font-size: 16px;
}

.select {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 17px;

	&__interactor {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 16px 20px;
		border: none;
		border-radius: 11px;
		background-color: #f7f7f7;
		cursor: pointer;

		span {
			display: block;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: 0.4px;
		}
	}

	&__dropdown {
		z-index: 5;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		padding: 16px 20px;
		border-radius: 11px;
		background-color: #f7f7f7;

		>div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 4px 0;
			margin-bottom: 7px;
		}
	}

	label {
		width: 100%;
		line-height: 120%;
		letter-spacing: 0.4px;
		cursor: pointer;
	}

	input {
		display: block;
		width: 16px;
		height: 16px;
		accent-color: var(--primary-color);
		padding: 5px;
		cursor: pointer;
	}
}

.icon {
	fill: #939393;
}

@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 576px) {

	.component {
		margin-top: 37px;
	}

	.title {
		font-size: 15px;
		font-weight: 800;
	}

	.select {
		margin-top: 13px;

		&__interactor {
			padding: 15px 20px;

			span {
				font-size: 14px;
				line-height: 120%;
				letter-spacing: 0.4px;
			}
		}

		&__dropdown {
			top: 48px;
			padding: 15px 20px;

			>div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 4px 0;
				margin-bottom: 7px;
			}
		}
	}

	label {
		font-size: 14px;
	}

	.icon {
		width: 15px;
		height: 15px;
	}
}

@media (max-width: 360px) {}