@use '../../../../_variables.scss' as variables;
@use '../../../../_keyframes.scss';

.component {
	width: 100%;
	margin-top: 40px;
}

.title {
	font-size: 16px;
	font-weight: 600;
}

.select {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 17px;

	&__interactor {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 16px 20px;
		border: none;
		background-color: variables.$color-bg-secondary;
		border-radius: 11px;
		cursor: pointer;

		span {
			display: block;
			font-size: 16px;
			letter-spacing: 0.4px;
			line-height: 120%;
			transition: variables.$all-transition;
		}
	}

	label {
		width: 100%;
		order: 1;
		cursor: pointer;
		letter-spacing: 0.4px;
		line-height: 120%;
		transition: variables.$all-transition;
	}

	&__dropdown {
		position: absolute;
		z-index: 5;
		top: 52px;
		left: 0;
		width: 100%;
		padding: 16px 20px;
		animation: fadeIn 0.3s ease-in-out;
		background-color: variables.$color-bg-secondary;
		border-radius: 11px;

		> div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 4px 0;
			margin-bottom: 7px;

			&:hover {
				label {
					color: variables.$color-text-crimson;
				}
			}
		}
	}

	input {
		display: block;
		width: 16px;
		height: 16px;
		order: 2;
		padding: 5px;
		accent-color: variables.$color-primary;
		cursor: pointer;
	}

	input:checked + label.label {
		animation: fadeIn 0.3s ease;
		color: variables.$color-primary-darked;
	}
}

.icon {
	fill: variables.$color-text-light;

	&_rotate {
		transform: rotate(180deg);
		transition: variables.$all-transition;
	}
}

@media (max-width: 992px) {
	.select__dropdown > div:hover label {
		color: inherit;
	}
}

@media (max-width: 576px) {
	.component {
		margin-top: 37px;
	}

	.title {
		font-size: 15px;
		font-weight: 800;
	}

	.select {
		margin-top: 13px;

		&__interactor {
			padding: 15px 20px;

			span {
				font-size: 14px;
				letter-spacing: 0.4px;
				line-height: 120%;
			}
		}

		&__dropdown {
			top: 48px;
			padding: 15px 20px;

			> div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 4px 0;
				margin-bottom: 7px;
			}
		}
	}

	label {
		font-size: 14px;
	}

	.icon {
		width: 15px;
		height: 15px;
	}
}
