@use '../../../_variables' as variables;
@use '../../../_mixins' as mixins;

.list {
	@include mixins.flex-column;

	align-items: flex-start;
	margin-top: 75px;
	counter-reset: num;
	list-style-type: none;

	li {
		position: relative;

		&::before {
			position: absolute;
			top: -3px;
			left: 6px;
			display: inline-block;
			content: counter(num) '. ';
			counter-increment: num;
			font-size: 16px;
			font-weight: 600;
			white-space: pre;
		}
	}

	h3 {
		margin-left: 25px;
	}
}

.describe {
	margin-top: 52px;

	p {
		max-width: 484px;
		margin-bottom: 0;
		font-size: 16px;
		letter-spacing: 0.2px;
		line-height: 150%;
		white-space: pre-line;
	}

	&__arrow {
		display: none;
	}

	&__blur {
		display: none;
	}
}

@media (max-width: 1200px) {
	.list {
		margin-top: 58px;
	}
}

@media (max-width: 992px) {
	.list {
		margin-top: 28px;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
	.list {
		order: 3;
		margin-top: 34px;

		li {
			max-width: 100%;

			&::before {
				font-size: 15px;
				font-weight: 800;
				line-height: 160%;
			}

			h3 {
				margin-left: 23px;
			}
		}
	}

	.feed {
		@include mixins.flex-column;
	}

	.describe {
		position: relative;
		display: box;
		overflow: hidden;
		max-height: 54px;
		padding-right: 14px;
		margin-top: 14px;
		background: linear-gradient(
			180deg,
			rgb(255 255 255 / 20%) 0%,
			rgb(255 255 244 / 100%) 100%
		);
		-webkit-box-orient: vertical;
		font-size: 14px;
		-webkit-line-clamp: 3;
		line-height: 128%;
		text-overflow: ellipsis;

		&__arrow {
			position: absolute;
			z-index: 10;
			right: 0;
			bottom: 0;
			display: block;
			width: 23px;
			height: 19px;
			border: none;
			background-color: variables.$color-bg-secondary;
			border-radius: 9px;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 9px;
				height: 6px;
				background: url('/images/nav-arrow-sm-grey.svg') no-repeat
					center 1px / cover;
				content: '';
				transform: translate(-50%, -50%);
			}

			&_active {
				&::before {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}

		&__blur {
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 70%;
			background: linear-gradient(
				180deg,
				rgb(255 255 255 / 20%) 0%,
				rgb(255 255 255 / 90%) 100%
			);
		}

		&_visible {
			display: block;
			max-height: unset;
		}
	}

	.controller {
		display: flex;
		overflow: unset;

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 10px;
		}

		&__price {
			font-size: 20px;
			font-weight: 700;
		}

		&__button {
			width: unset;
			padding: 15px 69px 15px 68px;

			span {
				font-size: 14px;
				font-weight: 700;
				line-height: 129%;
			}
		}

		&__cart {
			top: -18px;
			right: 7px;
			left: auto;
			width: 32px;
			height: 28px;

			span {
				font-size: 10px;
			}
		}
	}
}
