@use '../../_mixins' as mixins;

.page {
	padding-top: 20px;
	padding-bottom: 272px;
}

.back {
	@include mixins.button-reset;
	&::before {
		height: 16px;
	}
}

.wrapper {
	max-width: 585px;
	margin: 0 auto;
	margin-top: 25px;
}

.controller {
	display: none;
}

@media (max-width: 576px) {
	.page {
		padding-top: 17px;
		padding-bottom: 243px;
	}

	.wrapper {
		margin-top: 19px;
	}

	.title {
		font-size: 24px;
	}

	.back {
		margin-left: 0;
	}

	.controller {
		display: flex;

		&__button {
			display: flex;
			justify-content: center;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 14px;

			span {
				font-size: 14px;
				line-height: 129%;
				letter-spacing: 0.4px;
			}
		}
	}
}
