.component {
	min-width: 535px;
	height: 535px;
	margin-right: 50px;
	border-radius: 30px;
	background-color: var(--secondary-color);
}

.wrapper {
	min-width: 100%;
	height: auto;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}