// main подключён после global

@font-face {
	font-weight: 400;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-Regular.woff') format('woff'),
		url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-Medium.woff') format('woff'),
		url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 600;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-SemiBold.woff') format('woff'),
		url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-Bold.woff') format('woff'),
		url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 800;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-ExtraBold.woff') format('woff'),
		url('/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 900;
	font-family: 'inter';
	font-style: normal;
	src: url('/fonts/Inter_18pt-Black.woff') format('woff'),
		url('/fonts/Inter_18pt-Black.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: 'Pribambas';
	font-style: normal;
	src: url('/fonts/Pribambas-Regular.woff') format('woff'),
		url('/fonts/Pribambas-Regular.ttf') format('truetype');
	font-display: swap;
}
