@use './variables' as vars;

// Flexbox центрирование
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-column-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

// Скрытие элемента визуально
@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

// Стили для кнопок
@mixin button-reset {
	font-family: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

// Hover overlay
@mixin hover-overlay {
	position: relative;
	overflow: hidden;
	transition: vars.$fast-transition;

	&::after {
		position: absolute;
		z-index: 1;
		background-color: rgba(255, 255, 255, 0.1);
		opacity: 0;
		transition: opacity vars.$fast-transition;
		content: '';
		pointer-events: none;
		inset: 0;
	}

	&:hover::after {
		opacity: 1;
	}
}

// Active overlay
@mixin active-overlay-accent {
	&:active {
		&::after {
			background-color: rgba(0, 0, 0, 0.07);
		}
	}
}

// Scale
@mixin scale {
	transition: vars.$fast-transition;
	&:hover {
		transform: scale(1.06);
	}
}

// Hover text
@mixin hover-text {
	transition: vars.$fast-transition;
	&:hover {
		color: vars.$color-primary;
	}
}

// reset hover text
@mixin reset-hover-text {
	&:hover {
		color: vars.$color-text-primary;
	}
}

@mixin reset-hover-button-link {
	&:hover {
		color: vars.$color-text-inverted;
	}
}
