// Цветовая палитра
$color-primary: #ff4c80;
$color-primary-darked: #f93e74;
$color-secondary: #f0e2fb;
$color-accent: #ffe4ec;

// Фон #e0c9f1
$color-bg-primary: #f0e2fb;
$color-bg-secondary: #f7f7f7;
$color-bg-additional: #303030;
$color-bg-accent: #e4caf8;
$color-bg-crimson: rgb(255 92 139 / 10%);

// Фон дополнительные
$color-bg-tertiary: #fafafa;
$color-bg-quaternary: #f6f6f6;
$color-bg-spec: #ddd;
$color-bg-spec-darked: #d0d0d0;

// Текст
$color-text-primary: #000;
$color-text-secondary: #858585;
$color-text-light: #b1b1b1;
$color-text-inverted: #fff;
$color-text-gray: #bababa;
$color-text-dark: #323232;
$color-text-crimson: #ff5b8b;

// Акцентные цвета
$color-accent-light: #e8d4ff;
$color-accent-additional: #f0e2fb;
$color-link: #2787f5;
$color-error: #ff6b6b;
$color-info: #54a9eb;
$color-info-darked: #44a0e8;

// Переходы
$all-transition: all, 0.3s;
$fast-transition: all, 0.1s;
$middle-transition: all, 0.5s