// main подключён после global

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Inter_18pt-Regular.woff') format('woff'),
    url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/Inter_18pt-Medium.woff') format('woff'),
    url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/Inter_18pt-SemiBold.woff') format('woff'),
    url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/Inter_18pt-Bold.woff') format('woff'),
    url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/Inter_18pt-ExtraBold.woff') format('woff'),
    url('../fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src:
    url('../fonts/Inter_18pt-Black.woff') format('woff'),
    url('../fonts/Inter_18pt-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pribambas';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Pribambas-Regular.woff') format('woff'),
    url('../fonts/Pribambas-Regular.ttf') format('truetype');
  font-display: unset;
}