@use '../../_variables' as variables;
.component {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 15;
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px 10px 7px 10px;
	overflow-y: scroll;
	background-color: variables.$color-text-inverted;
	border-radius: 22px 22px 0 0;
	box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.08);
}

.inner {
	width: 100%;
}
.item {
	width: 128px;
	height: 5px;
	margin-top: 17px;
	background-color: variables.$color-text-primary;
	border: none;
	border-radius: 11px;
}

@media (max-width: 992px) {
}
