@media (max-width: 992px) {
	.component {
		z-index: 5;
		position: fixed;
		top: 50%;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 10px 10px 7px 10px;
		border-radius: 22px 22px 0 0;
		background-color: #fff;
		box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.08);
		overflow-y: scroll;
	}

	.item {
		margin-top: 17px;
		border: none;
		border-radius: 11px;
		width: 128px;
		height: 5px;
		background-color: #000;
	}

	.content {
		height: 0;
		max-height: 150px;
		overflow-y: scroll;
	}
}